@keyframes confetti {
	/* 0% { background-position: 200% 2000%, -200% 2000%; } */
	0% { background-position: 1000% 2000%, -1000% 2000%; }
	35%,36% { background-position: 10% -200%, 90% -200%; }
	100% { background-position: -30% 2000%, 130% 2000%; }
}

@keyframes hornLeft{
    0% {left: -100%; bottom: -100%}
    30%, 70% {left: -10%; bottom: -20.5%}
    100% {left: -100%; bottom: -100%}
}

@keyframes hornRight{
    0% {right: -100%; bottom: -100%}
    30%, 70% {right: -10%; bottom: -16.5%}
    100% {right: -100%; bottom: -100%}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#cornBG{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image:  url(../../images/just-waves.png);
}
#cornBGDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image:  url(../../images/confetti.png), url(../../images/confetti.png);
    background-position: 100% 2000%, 0% 2000%;
    background-repeat: no-repeat;
    /* animation: confetti 4s ease-in ; */
    animation: confetti 4.5s ease-in-out ;
    animation-fill-mode: both;
    animation-delay: 1s;

}  

#hornLeft{
    position: absolute;
    animation: hornLeft 4s linear forwards;
}

#hornRight{
    position: absolute;
    animation: hornRight 4s linear forwards;

}

#elusive{
    color: rgb(252, 221, 240);
    text-shadow: 0 0 5px hotpink, 0 0 15px hotpink; 
    position: absolute;
    left: 30%;
    /* top: 11%; */
    top: 16%;
    font-size: 8em;
    font-family: 'League Script', cursive;        

}
#cornHeader{
    color: rgb(252, 221, 240);
    text-shadow: 0 0 5px hotpink, 0 0 15px hotpink, 0 0 45px rgb(252, 221, 240), 0 0 85px rgb(252, 221, 240); 
    position: absolute;
    /* top: 3%; */
    top: 12%;
    /* left: 3%; */
    left: 2.5%;
    opacity: 0;
    animation: fadein 3s forwards;
    animation-delay: 2.5s;
    font-size: 19em;
}