#chili1{
    right: 4%;
}

#chili2{
    /* left: 8%; */
}

#chili3{
    left: 4%;
}

.answer3{
    position: relative;
    width: 365px;
    height: 365px;
    overflow: hidden;
    /* float: left; */
    object-fit: cover;
    border: black thick solid;
    /* box-shadow: 0 3px 6px #000, 0 3px 6px #000; */
box-shadow: 0 0 3px black, 0 0 8px sienna;
margin-top: 4%;
}

#q3Text{
    font-size: 6em;
    margin-top: 1.5%; 
}